---
layout: page
title: Blog archive
---
<div class="page-content wc-container">
	<div class="post">
		<h1>Blog Archive</h1>  
		{% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%B %Y'"  %}
        {% for yearMonth in postsByYearMonth %}
          <h4>{{ yearMonth.name }}</h4>
            <ul>
              {% for post in yearMonth.items %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
        {% endfor %}
	</div>
</div>
